[MIMIC3]
user = <USER>
password = <PASSWORD>
host = <HOST>
port = 5432
service = mimic
uri = postgresql://${user}:${password}@${host}:${port}/${service}


[ORACLE]
user = <USER>
password = <PASSWORD>
host = <HOST>
port = 1521
service = <SERVICE_NAME>
uri = oracle+cx_oracle://${user}:${password}@(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = ${host})(PORT = ${port})) (CONNECT_DATA = (SERVICE_NAME = ${service})))

